include layout

form(method='post')
  .row
    h1 Bajas
  .row.collapse 
    .large-2.columns
      label.inline First Name
    .large-10.columns
      input(type='text', name='firstName', placeholder='Jade')

  button.raduis(type='submit') Baja
    
