extends layout

block content
  .container
    .row
      h1.text-center The Best ABC, The Real ABC (mysql)
      br
    .row
      .large-4.medium-4.small-4.columns
        a(href="/altas")
          button(type='button') Altas
      .large-4.medium-4.small-4.columns
        a(href="/bajas")
          button(type='button') Bajas
      .large-4.medium-4.small-4.columns
        a(href="/cambios") 
          button(type='button') Cambios
  



  
